.logo-name {
  font-family: 'Faster One', cursive;
  font-size: 2rem;
  color: #928e8e;
  position: relative;
  left: 10px; }

.navbar img {
  position: relative;
  top: -3px; }

.navbar .nav-item {
  margin-right: 3rem; }

.navbar .menu-line {
  position: relative;
  top: 1.6rem;
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  height: 2px;
  background-color: #666;
  position: relative;
  right: 1rem; }

.navbar a {
  font-size: 1.3rem; }

.navbar-nav {
  position: relative;
  left: 16rem; }

.navbar .menu-end-icons {
  display: flex;
  position: relative;
  top: 1.2rem;
  left: 20rem; }
  .navbar .menu-end-icons li {
    list-style: none;
    padding: 0 1rem; }
  .navbar .menu-end-icons .img-icon {
    height: 60%; }

.hero-row .hero-right {
  width: 100%;
  height: auto;
  margin-top: 3rem; }
  .hero-row .hero-right .hero-heading {
    position: relative;
    left: 5rem; }
    .hero-row .hero-right .hero-heading .lead {
      position: relative;
      right: -20px;
      font-weight: 800;
      color: rgba(80, 77, 77, 0.3); }
  .hero-row .hero-right .hero-line {
    display: block;
    top: 1.6rem;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    background-color: #949393;
    position: relative;
    top: 15px;
    right: 5rem; }
    @media only screen and (max-width: 37.5em) {
      .hero-row .hero-right .hero-line {
        width: 100px;
        right: -1rem; } }
  .hero-row .hero-right .vertical-menu {
    list-style: none;
    display: flex;
    transform: rotate(-90deg) translate(-25rem); }
    @media only screen and (max-width: 37.5em) {
      .hero-row .hero-right .vertical-menu {
        transform: rotate(0deg) translate(-1.2rem); } }
    .hero-row .hero-right .vertical-menu .right-h-line {
      border-left: 4px solid #949393;
      height: 330px;
      position: absolute;
      left: 10;
      top: 30;
      transform: rotate(90deg) translate(-7rem, -11rem); }
      @media only screen and (max-width: 37.5em) {
        .hero-row .hero-right .vertical-menu .right-h-line {
          top: -1rem; } }
    .hero-row .hero-right .vertical-menu li a {
      color: black; }

.hero-row .right-content {
  position: relative;
  top: -2rem;
  left: 10rem; }
  @media only screen and (max-width: 52em) {
    .hero-row .right-content {
      left: 8rem; } }
  @media only screen and (max-width: 37.5em) {
    .hero-row .right-content {
      top: 0rem;
      left: 3rem; } }
  .hero-row .right-content .h1 {
    font-size: 2.1rem; }
  .hero-row .right-content .hero-r-para {
    width: 60%;
    position: relative; }
    @media only screen and (max-width: 37.5em) {
      .hero-row .right-content .hero-r-para {
        width: 50%;
        font-size: 1rem; } }
    @media only screen and (max-width: 56.25em) {
      .hero-row .right-content .hero-r-para {
        width: 60%; } }
  .hero-row .right-content .lead {
    font-weight: 700; }
    @media only screen and (max-width: 37.5em) {
      .hero-row .right-content .lead {
        font-size: 1.2rem;
        font-weight: 500; } }
  .hero-row .right-content .down-arrow {
    font-size: 3rem;
    position: relative;
    top: -2rem; }
    @media only screen and (max-width: 37.5em) {
      .hero-row .right-content .down-arrow {
        font-size: 2rem;
        top: -1.6rem; } }

.hero-row .box {
  position: relative; }

.hero-row .btm-box-content {
  position: relative;
  background-color: #47b89f;
  width: 30rem;
  min-width: 30rem;
  height: 200px;
  top: 3.3rem;
  left: 15rem; }
  @media only screen and (max-width: 88em) {
    .hero-row .btm-box-content {
      left: 8rem;
      top: -1rem; } }
  @media only screen and (max-width: 73.4em) {
    .hero-row .btm-box-content {
      width: 380px;
      min-width: 380px; } }
  @media only screen and (max-width: 61.937em) {
    .hero-row .btm-box-content {
      left: 15rem;
      top: -1rem; } }
  @media only screen and (max-width: 52em) {
    .hero-row .btm-box-content {
      left: 8.2rem;
      top: -3rem; } }
  @media only screen and (max-width: 37.5em) {
    .hero-row .btm-box-content {
      left: 3rem;
      top: -1rem; } }
  .hero-row .btm-box-content .btm-pro-img {
    padding: 1rem;
    width: 200px;
    max-width: 200px;
    height: 210px;
    background: #020024;
    background: linear-gradient(9deg, #020024 0%, #5ae6c3 100%, #00d4ff 100%);
    display: block;
    position: relative;
    left: 15rem;
    top: -15rem; }
    @media only screen and (max-width: 88em) {
      .hero-row .btm-box-content .btm-pro-img {
        left: 15rem;
        top: -17rem; } }
    @media only screen and (max-width: 73.4em) {
      .hero-row .btm-box-content .btm-pro-img {
        left: 10.7rem;
        top: -18rem; } }
    @media only screen and (max-width: 61.937em) {
      .hero-row .btm-box-content .btm-pro-img {
        left: 14rem;
        top: -15rem; } }
    @media only screen and (max-width: 37.5em) {
      .hero-row .btm-box-content .btm-pro-img {
        left: 11rem;
        top: -16rem; } }
  .hero-row .btm-box-content .pro-img {
    width: 9.5rem;
    position: relative;
    top: 8px;
    left: 7px; }
  .hero-row .btm-box-content p {
    width: 50%;
    color: #f3f0f0;
    font-size: 1rem; }

.hero-row .hero-left {
  padding: 0rem;
  position: relative;
  top: 1rem; }
  @media only screen and (max-width: 37.5em) {
    .hero-row .hero-left {
      transform: translate(5rem, 0); } }
  .hero-row .hero-left .left-heading-title {
    text-align: center;
    position: relative;
    top: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .hero-row .hero-left .left-heading-title {
        text-align: center;
        position: relative;
        left: -3rem;
        padding-bottom: 2rem; } }
  .hero-row .hero-left .cus-grid {
    margin-top: 2rem; }
    .hero-row .hero-left .cus-grid .row-fix {
      margin-right: 0;
      margin-left: 0; }
    .hero-row .hero-left .cus-grid .vertical-group-line {
      position: relative;
      left: 2rem;
      top: 4rem; }
      @media only screen and (max-width: 37.5em) {
        .hero-row .hero-left .cus-grid .vertical-group-line {
          display: none; } }
    .hero-row .hero-left .cus-grid .vertical-xm-line {
      border-left: 4px solid #949393;
      height: 25px;
      position: absolute;
      left: 10;
      top: 30;
      transform: rotate(0deg) translate(0.2rem, 20.5rem);
      width: 100px; }
    .hero-row .hero-left .cus-grid .vertical-sm-line {
      border-left: 4px solid #949393;
      height: 45px;
      position: absolute;
      transform: rotate(0deg) translate(0.2rem, 17.4rem);
      width: 100px; }
    .hero-row .hero-left .cus-grid .vertical-line {
      border-left: 4px solid #949393;
      height: 220px;
      position: absolute;
      left: 10;
      top: 30;
      transform: rotate(0deg) translate(0.2rem, 3.2rem);
      width: 100px; }
    .hero-row .hero-left .cus-grid .vertical-text {
      transform: rotate(-90deg) translate(-1rem, -0.7rem);
      display: block; }
    .hero-row .hero-left .cus-grid .img-column {
      flex-direction: column; }
      .hero-row .hero-left .cus-grid .img-column img {
        width: 155px;
        height: auto;
        margin-bottom: 1.3rem; }
        @media only screen and (max-width: 37.5em) {
          .hero-row .hero-left .cus-grid .img-column img {
            width: 160px; } }
      @media only screen and (max-width: 37.5em) {
        .hero-row .hero-left .cus-grid .img-column img:first-child {
          position: relative;
          left: -1.3rem; } }
      @media only screen and (max-width: 37.5em) {
        .hero-row .hero-left .cus-grid .img-column img:last-child {
          margin-left: .3rem; } }
    .hero-row .hero-left .cus-grid .lg-pic {
      width: 400px;
      height: 430px;
      position: relative;
      left: -1.3rem;
      overflow: hidden; }
      .hero-row .hero-left .cus-grid .lg-pic img {
        width: 350px;
        height: auto; }
      .hero-row .hero-left .cus-grid .lg-pic .position-img {
        position: relative;
        top: -3rem; }
  @media only screen and (max-width: 37.5em) {
    .hero-row .hero-left .sm-footer {
      text-align: center;
      padding-top: 2rem;
      position: relative;
      right: 5.2rem; } }
  .hero-row .hero-left .social-links ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    position: relative;
    left: -9rem; }
    .hero-row .hero-left .social-links ul a {
      padding: 0 1rem 0 1rem;
      list-style: none;
      color: black; }
      @media only screen and (max-width: 37.5em) {
        .hero-row .hero-left .social-links ul a {
          text-align: center; } }
  .hero-row .hero-left .copy-right {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -10px;
    left: -10rem; }
    @media only screen and (max-width: 37.5em) {
      .hero-row .hero-left .copy-right {
        text-align: center;
        position: relative;
        left: -11.4rem; } }
